# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Ejercicios/nbproject/private/
/Ejercicios/build/
/Ejercicios/dist/
/Objetos/nbproject/private/
/Objetos/build/
/A2/nbproject/private/
/A1/nbproject/private/
/A2/build/
/A1/build/
/B1/nbproject/private/
/B1/build/
/B2/nbproject/private/
/B2/build/
/B2/dist/
/B3/nbproject/private/
/B4/nbproject/private/
/B4/build/
/C1/nbproject/private/
/C1/build/
/C2/nbproject/private/
/C2/build/
/C3/nbproject/private/
/C3/build/
